# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

## Data folders
#data
#processed_data

# Map files
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shp

# flat files
*.txt
*.*sv


# Office docs
*.xls*
*.doc*
*.ppt*
*.numbers
*.pages
*.key


# archives
*.tar*
*.tgz
#*.zip
*.bz2
*.7z


# sqlite, access, redis
*.db
*.mdb
*.rdb


# Python related....
# iPython notebooks
.ipynb_checkpoints/*
*/*.ipynb_checkpoints/*
# Python builds
*.egg*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib*
*.pyc
# Install logs
pip-log.txt
# unit test / coverage reports
.coverage
.tox
nosetests.xml
# Translations
*.mo
# PyDev (Eclipse)
.project
.pydevproject
# PyCharm IDE
.idea/*


# Dev configs
dev.yaml


# C extensions
*.so


# misc
*.asc
.DS_Store
*.swp
